<p id="notice"><%= notice %></p>

<h1>点击进入喜欢的社区</h1>
<br>
<table>
  <thead>
    <tr>
      <th>社区名</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td><%= forum.name %></td>
        <td><%= link_to '进入', forum %></td>
        <% if can? :manage, @forum %>
          <td><%= link_to '删除', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, @forum %>
  <%= link_to '新建板块', new_forum_path %>
<% end %>