<link rel="stylesheet" href="/public/editormd/css/editormd.css" />

<script src="/public/editormd/editormd.min.js"></script>


<h2>发帖</h2>
<br>
<%= form_for :article, url: forum_articles_path do |f| %>


  <div class="field">
    <%= f.label :标题 %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :发帖人（可以任意起名，想匿名可以不填） %><br />
    <%= f.text_field :author, autofocus: true, autocomplete: "username" %>
  </div>


    <%= f.label :内容 %><br />
    <%#= f.text_area :body, autocomplete: "body", :cols=>"80", :rows=>"8" %>

  <div id="test-editormd">
    <textarea  class="form-control" id="content-editormd-markdown-doc" name="content-editormd-markdown-doc">
    </textarea>
  </div>



  <div class="actions">
    <%= f.submit "发帖" %>
  </div>

<% end %>
<br>
<%= link_to '返回', :back %>



<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editormd", {
            width  : "90%",
            height : 720,
            theme : "dark",
            path   : "#springUrl('/assets/editormd/lib')",
            saveHTMLToTextarea : true, // 保存 HTML 到 Textarea
            toolbarAutoFixed:true,//工具栏自动固定定位的开启与禁用
        });
    });
</script>

