<h2>发帖</h2>
<br>
<%= form_for :article, url: forum_articles_path do |f| %>


  <div class="field">
    <%= f.label :标题 %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :发帖人（可以任意起名） %><br />
    <%= f.text_field :author, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :内容 %><br />
    <%= f.text_area :body, autocomplete: "body", :cols=>"80", :rows=>"8" %>
  </div>


  <div class="actions">
    <%= f.submit "发帖" %>
  </div>

<% end %>
<br>
<%= link_to '返回', :back %>