<h2>我的帖子：</h2><br>


<table>
  <thead>
  <tr>
    <th colspan="50",align="left">标题</th>
    <th colspan="10",align="center">发帖所用名</th>
    <th colspan="10",align="center">点击量</th>
  </tr>
  </thead>


  <% @articles.each do |article| %>
    <tr>
      <td colspan="50",align="left"><%= link_to article.title, forum_article_path(article.forum_id,article) %></td>
      <td colspan="10",align="center"><%= article.author %></td>
      <% if article.clicks.present? %>
        <td colspan="10",align="center"><%= article.clicks%></td>
      <% else %>
        <td colspan="10",align="center">0</td>
      <% end %>
      <% if can? :destroy, @article %>
        <td><%= link_to "删除", forum_article_path(article.forum_id,article), method: :delete %></td>
      <% end %>
      <br>
    </tr>
  <% end %>
  <br>
</table>
<%= link_to "返回", root_path %>