<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <style>
      *{
        margin: auto;
        padding: 0px;
      }
      #logindiv{
        width: 600px;
        height: 600px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
      }
      #info{
        position:absolute;
        right:10px;
        top:0;
      }
    </style>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="logindiv">
    <div id="bbsname" align="center">
      <% if current_user %>
        <h1>welcome to my bbs!  <%= current_user.username  %></h1>
      <%else %>
        <h1>welcome to my bbs!</h1>
      <% end %>
    </div>
    <br>
    <div id="register" align="center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

  <div id="info">
    <%= link_to '首页', root_path %> |
    <% if current_user %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('修改信息', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('注册', new_registration_path(:user)) %> |
      <%= link_to('登入', new_session_path(:user)) %>
    <% end %>
  </div>
  </body>
</html>
